@media (prefers-reduce-motion:no-preference) {
    * {
        scroll-behavior: smooth !important; 
    }
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body {

}

#navbar {

}

nav header {

}

.nav-link {

}

#main-doc {

}

section header {

}

section p {

}

code {
    background-color: rgb(194, 82, 67);
}